* {
	box-sizing: border-box;
  }
.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;

    padding: 20px;
}
.line_through {
	text-decoration: line-through;
}
.heading {
	font-size: 35px;
	color: #00264d;
}

.container {
	width: 50vw;
	height:auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 20px 20px 0px 20px;
	border-radius: 10px;
	background-color: white;
	box-sizing: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
		rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}
/* @media (max-width: 700px) {
	.container {
		width: 80vw;
	}
} */
.form_container {
	display: flex;
	flex-direction:column;
	align-items: center;
	width: 100%;
	height: auto;
	padding:2px;
	margin-bottom: 15px;
}
.buttons{
	display:flex;
	flex-direction:column;
}
#title{
	width:100%;
}
#subtask{
	width:100%;
	margin: 5px ;

}
.buttons{
	margin-top: 8px ;
	display: flex;
    align-items: center;
	flex-direction: row;
	justify-content: flex-end;
	width:100%;
}
.subptasks{

}
.subtasks .check {
	margin:5px;
	font-size:20px;
}
.subtasks p{
	margin:5px 5px 12px 5px;
	padding:0px;

}
.subtasks{
	font-size:20px;
	display:flex;
	width:100%;
	align-items: center;
	flex-direction:row;
}
.subtask_container{
	width:100%;
	flex-wrap:wrap;
	display: flex;
	justify-content: flex-end;
    align-items: center;
}
.input {
	flex-grow: 1;
	height: inherit;
	outline: none;
	border: 1px solid #00264d;
	border-radius: 5px;
	font-size: 16px;
	margin: 5px;
	padding: 10px;
	box-shadow: 0px 2px 35px 6px rgba(203, 124, 239, 0.3);
}

.btn {
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
	margin:5px;
	background-color:  #00264d;
	color: white;
	border-radius: 5px;
	display: flex;
    align-items: center;
    padding: 5px;
}
.btn2 {
	font-size: 30px;
	margin:5px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
	background-color:  #39ac73;
	color: white;
	border-radius: 5px;
	display: flex;
    align-items: center;
    padding: 5px;
}
.btn_cancel{
	font-size: 30px;
	margin:5px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: #ff3333;
	color: white;
	border-radius: 5px;
	display: flex;
    align-items: center;
    padding: 5px;
}
.tasks{
	margin-top:5px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
    align-items: center;
}
.task_container h3{
font-size:30px;
margin:0px;
}
.task_container {
	display:flex;
	flex-direction:column;
	width: 30vw;
	height: auto;
	padding: 5px;
	margin: 10px ;
	border-radius: 5px;
	border: 1px solid  #00264d;
	box-sizing: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
		rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.check_box {
	cursor: pointer;
	font-size: 16px;
	outline: none;
}

.task_text {
	flex-grow: 1;
	padding: 0 10px;
}

.line_through {
	text-decoration: line-through;
}

.edit_task,
.remove_task {
	outline: none;
	border: none;
	background: transparent;
	color:  #00264d;
	font-size: 16px;
	cursor: pointer;
	padding: 0 5px;
	font-size:25px;
}

.no_tasks {
	width: 100%;
	height: 60px;
	font-size: 18px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	border-radius: 5px;
	background-color: #cecbcb75;
	color: #252525a4;
}
#buttonsfortask{
	font-size:60px;
}
@media screen and (min-width: 750px) {
	#subtask {
	width:auto !important;
	}

  }
  

  @media screen and (max-width: 750px) {
  .task_container{
	min-width:16rem;
}
  }